# Optional: copy to terraform.tfvars and adjust.
# Names, region and subscription come from ../platform.json (written by bootstrap/).

# capacity_skus = {
#   Dev  = "F2"
#   Prod = "F4"
# }

# capacity_admins = ["someone@yourcompany.com"]
